* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0, 0, 0, 0.75)),url("../img/bg home.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header .navbar {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 55, 55);
}

.navbar a {
    color: white;
    margin: 0 10px;
}
.navbar h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    /* font-style: italic; */
    margin-right: 30px;
}
.navbar h3 {
    color: white;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.navbar p{
  size: 50px;
}
.navbar div{
  display: flex;
  align-items: center;
  margin-right: 10px;

}
.navbar img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.navbar input {
    width: 40%;
    height: 80%;
    border-radius: 25px;
    padding: 0 20px;
    font-size: medium;
    border: 2px solid white;
    background: transparent;
    color: white;
}

.content{
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  color: white;
}
.content h1{
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20px;
  margin-bottom: 50px;
}
.content button{
  font-size: 30px;
  margin: 20px;
  padding: 20px;
  border-radius: 40px;
  background: transparent;
  border: 2px solid white;
  cursor: pointer;
}
button a{
  text-decoration: none;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.content div p{
  font-size: 30px;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
}
button:hover{
  background: darkslategray;
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transition: all .5s;

}
footer{
  position: absolute;
  background: rgb(47, 55, 55);
  bottom: 0%;
  width: 100vw;
  color: white;
  padding: 10px;
}
footer .fcontent{
  display: inline-block;
  border-right: 1px solid silver;
}
.fcontent ul{
  width: 28vw;
  display: flex;
  text-align: center;
  justify-content: space-around;
  list-style: none;
}
.fcontent a{
  color: white;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}
footer .sociallinks{
  display: inline-block;
  border-right: 1px solid silver;
}

.sociallinks ul{
  width: 40vw;
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
}
.sociallinks a{
  color: white;
  margin: 10px;
}
footer a:hover{
  color: aqua;
  transition: all .3s;
}
footer p{
  width: 28vw;
  text-align: end;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
}
/* .header .sidebar{
    
    position: fixed;
    height: 60vh;
    background: rgb(47, 55, 55);
    box-shadow: 0px 0px 6px rgba(85, 82, 82, 0.5); 
    overflow: hidden;
    width: 260px;
    left: -300px;
    color: white;
    transition: all .3s linear;
} */
/* .sidebar .logo {
  position: absolute;
  width: 100%;
  background: rgb();
  box-shadow: 0px 2px 4px rgba(85, 82, 82, 0.5);
  text-align: center;
  height: 80px;
  border-bottom: 1px solid white;
  padding: 25px;
}
.sidebar .logo a{
  color: white;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  
} */
/* .sidebar .menu{
  position: absolute;
  top: 70px;
  width: 100%;
}
.sidebar .menu li{
  margin-top: 10px;
  padding: 15px 20px;
}
.sidebar .menu i{
  color: white;
  font-size: 20px;
  padding-right: 10px;
}
.sidebar .menu a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.sidebar .menu li:hover{
  border-left: 1px solid white;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
} */
 
  /* .navbar div i {
    margin-left: 20px;
    font-size: large;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
  .sidebar .btn_two i{
    position: relative;
    margin-left: 265px;
    margin-top: 20px;
    font-size: 30px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
  #check {
      display: none;
  }
  #check input:checked ~ .header .sidebar{
    left: 0px;
  }
  #check:checked ~ .btn_one i{
    opacity: 0;
  } 
  #check:checked ~ .btn_two{
      opacity: 0;
  }
  #check:checked ~ .navbar{
      opacity: 0;
  } */
  