{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Rental Service</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/hpstyle.css' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <!-- <input type="checkbox" id="check">
                <div class="btn_one">
                    <label for="check"><i class="fa fa-bars"></i></label>
                </div> -->
                <h1><a href="#"><i class="fa fa-home"></i></a>Home Rental Service</h1>
                <input type="search" class="search" placeholder="&#128269;Search here!">               
                <p>
                <a href="../createpost/"><i class="fa fa-edit"></i></a>
                <a href="../search/"><i class="fa fa-search"></i></a>
                </p>
                <div><h3>{{ user_profile.username }}</h3><a href="#"><img src="{{user_profile.profileImg.url}}" alt=""></a></div>
            </nav>
            <!-- <div class="sidebar">
                <div class="logo">
                    <a href="#">Home Rental Service</a>
                </div>
                <div class="btn_two">
                    <label for="check">
                        <i class="fa fa-times"></i>
                    </label>
                </div>
                <div class="menu">
                    <ul>
                        <li><i class="fa fa-home"></i>
                            <a href="#">Homepage</a>
                        </li>
                        <li>
                            <i class="fa fa-user"></i>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <i class="fa fa-edit"></i>
                            <a href="#">Post</a>
                        </li>
                        <li>
                            <i class="fa fa-question-circle"></i>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <i class="fa fa-address-book"></i>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div> -->
        </header>
        <div class="content">
            <h1>How can we help you?</h1>
            
            <div>
                <button><a href="../search/">Need a home for you?</a></button>
                <p>Or</p>
                <button><a href="../createpost/">Want to rent your home?</a></button>
            </div>
        </div>
        <footer class="footer">
            <div class="fcontent">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="../logout/">Log Out</a></li>
                </ul>
            </div>
            <div class="sociallinks">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <p>All rights reserved. Copyright &copy;2022 CSE'18</p>
        </footer>
    </body>
    </html>